view -F {format} --query "SELECT RESOURCE ?letter WHERE ID \"{resource_id}\";"
    --query "@VALUETAG=2 SELECT OPTIONAL ANNOTATION ?name WHERE RESOURCE ?letter; DATA \"http://www.w3.org/1999/02/22-rdf-syntax-ns#\" \"type\" = \"http://www.tei-c.org/ns/1.0#rs\";"
    --query "@VALUETAG=2 SELECT OPTIONAL ANNOTATION ?referentie WHERE RESOURCE ?letter; DATA \"http://www.w3.org/1999/02/22-rdf-syntax-ns#\" \"type\" = \"http://www.tei-c.org/ns/1.0#ref\"; DATA \"http://www.tei-c.org/ns/1.0#\" \"target\";"
    --query "@ID SELECT OPTIONAL ANNOTATION ?note WHERE RESOURCE ?letter; DATA \"http://www.w3.org/1999/02/22-rdf-syntax-ns#\" \"type\" = \"http://www.tei-c.org/ns/1.0#note\";"
    --query "@VALUETAG=2 SELECT OPTIONAL ANNOTATION ?pointer WHERE RESOURCE ?letter; DATA \"http://www.w3.org/1999/02/22-rdf-syntax-ns#\" \"type\" = \"http://www.tei-c.org/ns/1.0#ptr\"; DATA \"http://www.tei-c.org/ns/1.0#\" \"target\";"
    --query "@KEYVALUETAG SELECT OPTIONAL ANNOTATION ?page WHERE RESOURCE ?letter; DATA \"http://www.w3.org/1999/02/22-rdf-syntax-ns#\" \"type\" = \"http://www.tei-c.org/ns/1.0#pb\";"
    --query "@HIDE @STYLE=italic SELECT OPTIONAL ANNOTATION ?italics WHERE RESOURCE ?letter; DATA \"http://www.w3.org/1999/02/22-rdf-syntax-ns#\" \"type\" = \"http://www.tei-c.org/ns/1.0#hi\"; DATA \"http://www.tei-c.org/ns/1.0#\" \"rend\" = \"italics\";"
    --query "@HIDE @STYLE=super SELECT OPTIONAL ANNOTATION ?super WHERE RESOURCE ?letter; DATA \"http://www.w3.org/1999/02/22-rdf-syntax-ns#\" \"type\" = \"http://www.tei-c.org/ns/1.0#hi\"; DATA \"http://www.tei-c.org/ns/1.0#\" \"rend\" = \"super\";"
